---
import { cn } from '@/utils'
const { as: Tag = 'a', class: className, title, href } = Astro.props
---

<Tag
	class={cn(
		className,
		'inline-flex items-center gap-x-2 border-2 border-foreground bg-background px-3 py-1.5 text-sm font-bold uppercase hover:bg-foreground hover:text-background',
		!href && 'cursor-default'
	)}
	href={href}
	data-astro-prefetch
>
	<slot name='icon-before' />
	<p>{title}</p>
	<slot name='icon-after' />
</Tag>
